body {
  text-align: center;
  font-family: 'IBM Plex Sans Thai', sans-serif;
overflow-wrap: break-word;
word-wrap: break-word;
}

textarea {
  resize: vertical;
  width: 100%;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

button {
  background-color: #9fadd1;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}